.containers {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1088px;
}

.light-header {
  background: #F0F6FF;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 200px;
}

.text h1{
  font-size: 3.75rem;
  font-weight: 600;
  color: #394e6a;
  max-width: 42rem;
}

header select {
  margin-left: 20px;
  margin-top: 0.7em;
  border: none;
  border-radius: 6px;
  padding: 5px;
  color: #FFF;
  background: rgba(2, 20, 49, 1);
}

header select:focus {
  outline: none;
}

header select option:checked {
  background: #FFF;
  color: rgba(2, 20, 49, 1);
}

.text p {
  margin-top: 32px;
  max-width: 42rem;
  font-size: 1.125rem;
  color: #4c546a;
  line-height: 2rem;
  max-width: 36rem;
  margin-bottom: 48px;
}

.text a {
  font-size: 0.875rem;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 15px 1rem;
  font-weight: 500;
  background: #057aff;
  color: #dbe1ff;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.logo {
  margin-top: 0.5rem;
  background: #057aff;
  padding-right: 0.7rem;
  border-radius: 0.5rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  margin-bottom: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.9;
}

.logo a {
  line-height: 2.25rem;
    /* padding-left: 1rem; */
  padding-right: 1.4rem;
  font-weight: 500;
  /* text-align: center; */
  color: #DBE1FF;
  /* padding: 0 16px; */
  text-decoration: none;
  font-size: 1.875rem;
  margin-left: 40%;
}

.icon {
  display: flex;
  align-items: center;
}

.icon span {
    text-align: center;
    width: 40px;
    height: 40px;
    background: #057aff;
    color: #FFF;
    margin-left: 20px;
    margin-top: 0.6rem;
    padding-top: 7px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
}

.icon a {
  margin-left: 20px;
}

.icon a img {
  margin-top: 1rem;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 352px;
  height: 360px;
  padding: 16px;
  border-radius: 0.75rem;
  text-align: center;
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1); 
}

.card-p {
  margin-top: 20px;
  color: #463aa1;
}

.card-h3 {
  color: #394e6a;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.25rem;
}

.wrapper-product {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card img{
  object-fit: cover;
  border-radius: 0.75rem;
  /* height: 12rem; */
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
} 
a {
  text-decoration: none;
}

.f-text {
  color: #394e6a;
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: 0.05em;
  font-weight: 500;
  padding-bottom: 0.83em;
  margin-bottom: 48px;
  border-bottom: 1px solid #dbe1ff;
}


header nav {
  margin-top: 0.5rem;
}


header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  padding-top: 1rem;
}

.light-header nav ul li a{
  text-decoration: none;
  color: #394e6a;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  transition: all 0.5s;
}

.light-header nav ul li .active:hover {
  background-color: rgba(2, 20, 49, 1);
  color: #FFF;
}

.light-header nav ul li a:hover {
  background-color: #00000014;
}

.light-header nav ul li .active{
  background: rgba(2, 20, 49, 1);
}

.light-header nav ul li .active {
  color: #FFF;
}

.about h1{
  font-size: 3.75rem;
  font-weight: 600;
  text-align: center;
  color: #394e6a;
}

.about h1 span {
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  background: #057aff;
  letter-spacing: .1em;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  color: #dbe1ff;
}

.about p {
  margin-top: 24px;
  max-width: 42rem;
  font-size: 1.125rem;
  color: #4c546a;
  margin-left: 208px;
  line-height: 2rem;
}

.slideShow {
  display: inline-flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  height: 28rem;
  max-width: 500px;
  border-radius: 20px;
}
.imageWrapper {
  background-color: rgb(13, 29, 79);
  object-fit: cover;
  width: 20rem;
  height: 100%;

  border-radius: 20px;
}
.carouselItem {
  background-color: rgb(13, 29, 79);
  align-items: center;
  box-sizing: content-box;
  display: flex;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card button{
    margin-top: 10px;
    padding: 5px 100px;
    border: 2px solid #394e6a;
    border-radius: 5px;
    background: #463aa1;
    color: white;
    transition: all 0.3s;
}

.card button:hover {
    background: transparent;
    color: #463aa1;
}

.wrapper-sell {
    display: flex;
    flex-direction: column-reverse;
}

.count-body {
    max-width: 100%;
    width: 100%;  
    background: #f0f6ff;  
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1); 
    border-radius: 0.75rem;
}

.count-body h3 {
    margin-bottom: 100px;
    text-align: center;
    font-size: 5rem;
    margin-top: 100px;
    color: #394e6a;
}

.cart {
    display: flex;
    align-items: center;
    height: 360px;
    padding: 16px;
    border-radius: 0.75rem;
    /* text-align: center; */
    background: #fff;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1); 
}

.cart-d {
    color: #4c546a;
}

.wrapper-cart span {
    margin-right: 10px;
    color: #057aff;
    font-size: 20px;
    font-weight: 600;
}

.cart img {
    object-fit: cover;
  border-radius: 0.75rem;
  /* max-height: 300px; */
  /* height: 12rem; */
  width: 100%;
  /* max-width: 100%; */
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.cart-h3 {
    color: #394e6a;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.cart-p {
    margin-top: 20px;
    color: #463aa1;
}